<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <i class="fa fa-line-chart wellcome-icon" aria-hidden="true"></i>
                <div class="intro-text">
                    <span class="name">Wellcome to Stock Tracker</span>
                    <hr class="star-light">
                    <span class="skills">Keep on tracking of your favorite stocks in a social way.</span>
                </div>
            </div>
        </div>
    </div>
</header>